<h1>I am the Home Page</h1>

<form action="/submitMovie" method="post">
    <label>
        Movie Title: 
        <input type="text" name="movie_name">
    </label>

    <label>
        Year of Release: 
        <input type="text" name="year_of_release">
    </label>

    <label>
        Comments: 
        <input type="text" name="comments" cols="30" rows="10">
    </label>

    <button type="submit">Submit</button>
</form>