/* body {
    background-color: blue;
    background-color: orange;
} */

/* input[type="checkbox"] ~ img {
    display: none;
}
input[type="checkbox"]:checked ~ img {
    display: inline;
} */


/* #wrapper {
    padding: 30px;
} */

